{% extends "layout.html" %}
{% block content %}
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="well bs-component">
			<legend>{{ msg_title }}</legend>
			<p>{{ message }}</p>
			<form class="form-horizontal" method="POST">
				<fieldset>
					{{ form.hidden_tag() }}
					<a class="btn btn-primary" href="{{ url_for('vps_list') }}">Cancel</a>
					<button type="submit" class="btn btn-primary">Submit</button>
				</fieldset>
			</form>
		</div>
	</div>
</div>
{% endblock %}