{% extends "layout.html" %}
{% block content %}
<p>
	CUGNet has a 1 size fits all mentality to memberships. $150 USD a year will maintain your membership status and allow you to run a single OpenVZ container with whatever Linux-based OS you would like. The VM will have the following specifications:
</p>
<ul>
	<li>1 CPU Core</li>
	<li>1 GB Ram</li>
	<li>50 GB Disk</li>
	<li>1 Public IP</li>
</ul>
<p>
	Keep in mind that this is a VMWare VM instance, not a OpenVZ container like a lot of other places have, so you will be responsible for your operating system. We do have a number of OS ISOs pre-loaded into the KVM host to help get you going in a hurry, however we can populate any ISO image for you to use for your VM installation if what we have on-hand is not ideal.
</p>
<p>
	All payments will go to our Paypal address billing@cugnet.net.
</p>
<p>
	If your interested, please contact us at membership@cugnet.net.
</p>
{% endblock %}